/* tooltip Created by NIA Team */
a.tooltip{
  position: relative;
  display: inline;
}
a.tooltip:after{
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 20%;
  opacity: 0;
  content: attr(data); /* might also use attr(title) */
  height: auto;
  min-width: 100px;
  padding: 5px 8px;
  z-index: 999;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: rgba(0,0,0,0.85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.tooltip:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}
a.tooltip:hover:after{ visibility: visible; opacity: 1; bottom: 20px; }
a.tooltip:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }

/* tips on bottom */
a.tooltip.bottom:after { bottom: auto; top: 0; }
a.tooltip.bottom:hover:after { top: 28px; }
a.tooltip.bottom:before {
  border-width: 0 5px 8.7px 5px;
  border-color: transparent transparent rgba(0,0,0,0.85) transparent;
  top: 0px
}
a.tooltip.bottom:hover:before { top: 20px; }


/* tips on the right */
a.tooltip.right:after { left: 100%; bottom: -45%; }
a.tooltip.right:hover:after { left: 110%; bottom: -45%; }
a.tooltip.right:before {
  border-width: 5px 10px 5px 0;
  border-color: transparent rgba(0,0,0,0.85) transparent transparent;
  left: 90%;
  bottom: 2%;
}
a.tooltip.right:hover:before { left: 100%; bottom: 2%; }


/* tips on the left */
a.tooltip.left:after { left: auto; right: 100%; bottom: -45%; }
a.tooltip.left:hover:after { right: 110%; bottom: -45%; }
a.tooltip.left:before {
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent rgba(0,0,0,0.85);
  left: auto;
  right: 90%;
  bottom: 2%;
}
a.tooltip.left:hover:before { right: 100%; bottom: 2%; }

CSS

/* tooltip colors (add your own!) */
a.tooltip.blue:after { background:#262626; }
a.tooltip.blue:before { border-color: #262626 transparent transparent transparent; }
a.tooltip.bottom.blue:before{ border-color: transparent transparent #262626 transparent; }
a.tooltip.right.blue:before { border-color: transparent #262626 transparent transparent; }
a.tooltip.left.blue:before { border-color: transparent transparent transparent #262626; }

a.tooltip.animate:after, a.tooltip.animate:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Remove bottom scroll bar */
html, body {
  overflow-x: hidden;
}

/* copy right */
.copy-right{ 
color: #fff;
display: inline-block;
padding: 4px 10px;
background: #4e545a;
border-radius: 3px;
-webkit-user-select: none;
}

/* selection */
::-moz-selection{
	background: #4e72a9;
    	color: white;
}
::selection{
	background: #4e72a9;
    	color: white;
}

/* top button */
#topcontrol{
	z-index:2;
	background: #31373e ;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	position:fixed;
	bottom:-100px;
	right:10px;
	cursor:pointer;
	-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		overflow:auto;
		opacity:.7;
}
#topcontrol:hover{ opacity:1;}
#topcontrol:before {
	width: 40px;
	height: 40px;
	line-height: 38px;
	color: #FFF;
}
.tieicon-up-open:before, .tieicon-up:before {
    content: '\f077';
    font-family: fontawesome;
    color: white;
    font-size: 18px;
    margin-right: 11px;
    opacity: 0.7;
}

/*  Table  */
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    width: 42%;
    color:#666;
    font-size:12px;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
 
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid rgba(78, 84, 90, 0.95);
   /* border-bottom:1px solid #e0e0e0;*/
	color: #FFF;
	font-size: 18px;
    background: #31373e;
}
table th:first-child{
    text-align: right;
    padding-left:25px;
}
table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr{
    text-align: center;
    padding-left:20px;
}
table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table tr td {
	transition: 0.3s;
    padding:31px;
	font-size: 17px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0; /* remove left border */
    background: #fafafa;
}
table tr:last-child td{
    border-bottom:0;
}
table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td{
    background: #f1f1f1;
}
